.text-green {
    color: $success;
}
.text-red {
    color: $danger;
}

.text-orange{
    color: #f08d49;
}

.rounded {
    border-radius: 8px !important;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.text-gris {
    color: $gris-claro;
}

p {
    font-weight: bold;
}
.disable{
    pointer-events: none;
    color: dimgrey;
    cursor: none;
}

.disable-characters{
    pointer-events: none;
    cursor: none;
}

/* Carousel horizontal */
.main-body {
    padding-left: 8rem;
    padding-right: 8rem;

    .btn-prev,
    .btn-next {
        position: absolute;
        top: 0;
        width: 7rem;
        height: 100%;
        text-align: center;
        align-content: center;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    .btn-prev {
        left: 0;
        top: 0;
    }

    .btn-next {
        right: 0;
        top: 0;
    }

    .btn-prev svg,
    .btn-next svg{
        transition: transform 0.5s ease;

    }

    .btn-prev:hover svg,
    .btn-next:hover svg{
        transform: scale(1.5);
    }

    .btn-prev:hover,
    .btn-next:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
}
.main-footer {
    display: flex;
    justify-content: space-evenly;
    .form-label {
        width: 93px;
    }
    .form-check-input {
        color: $success;
        background-color: $success;
    }
}

.main-imgs {
    width: 20rem;
}

.main-img{
    transition: transform 0.3s ease;
}

.main-img:hover{
    transform: scale(1.2);
}

/* Carousel vertical */
.container-characters {
    background-color: $primary;
    padding: 1.75rem;
    padding-right: 1rem;
}

.characters-scrollbar {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    height: 50rem;
    padding: 0rem 2rem 1rem 0rem;
    overflow-y: auto;
}

.characters {
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    background-color: $secondary;
    img{
        transition: transform 0.3s ease;
    }
    &:hover{
        img{
            transform: scale(1.2);
        }
    }
    .characters-img {
        width: 150px;
    }
    .characters-info {
        h3 {
            color: white;
        }

        .character-origin {
            color: $gris-claro;
        }
        span {
            color: white;
        }
    }
}
